site_name: holm
repo_name: volfpeter/holm
repo_url: https://github.com/volfpeter/holm

theme:
  name: modern
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      scheme: slate
      toggle:
        icon: lucide/sun-moon
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: lucide/sun
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: lucide/moon
        name: Switch to system preference
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight

plugins:
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          paths: [.]

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Holm: index.md
  - In a hurry: in-a-hurry.md
  - application-components.md
  - file-system-based-routing.md
  - utilities.md
  - security.md
  - Guides:
      - guides/quick-start-guide.md
      - guides/path-parameters.md
      - guides/actions-with-htmx.md
      - guides/forms.md
      - guides/rendering-apis-with-htmx.md
      - guides/custom-applications.md
      - guides/error-handling.md
  - API Reference: api.md
