<!doctype html>
<html lang="en">
  {{ slots.head }}
  <body>
    <main class="min-h-screen">
      <div class="mx-auto w-full max-w-screen-md p-6">
        <header class="flex items-center justify-between py-2">
          {{ slots.nav }}
          {{ slots.theme_switcher }}
        </header>
        {{ slots.children }}
      </div>
    </main>
  </body>
</html>
