<!doctype html>
<html lang="en">
  {{ slots.head }}
  <body>
    <main class="flex min-h-screen flex-col">
      <div class="mx-auto flex w-full max-w-screen-md flex-1 flex-col p-6">
        <header class="flex items-center justify-between py-2">
          <a href="/" class="text-lg font-semibold">__holm_name__</a>
          {{ slots.theme_switcher }}
        </header>
        {{ slots.children }}
      </div>
    </main>
  </body>
</html>
